@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
body {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  overflow: hidden;
  font-family: 'Exo 2', sans-serif;
  justify-content: center;
  align-items: center;
  }
.background {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
 .centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

 .transparent-div {
    background-color: rgba(0, 0, 0, 0.5);
  }

/* Navbar section */



.nav {
    width: 100%;
    height: 55px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 0.5rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 1rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}

#webgl {
    position: absolute;
    top: 70;
    bottom: 70;
    left: 70;
    right: 70;
    z-index: -1;
}

#webgl2 { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    z-index: 2;
}

#bg-box {
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.svg-box {  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
